<nav class="allNav">
    <div class="navbar">
        <div class="logo1">
            <div class="logo2"><img src="/media/logo.png" alt=""></div>
            <div class="alfaz"><a href="">Alfaaz Arena</a></div>
        </div>
        <div class="userdata">
            <div class="content">
                <a href="">Home</a>
                <a href="">Upload</a>
                <a href="">Contact</a>
                <a href="">About</a>
            </div>
        </div>
        <div class="username">
            <div class="user">Saurabh</div>
            <div class="userlogo">
                <img src="" alt="">

            </div>
        </div>
</nav>