*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.body{
    width: 100vw;
    height: 100vh;
}
.navbar{
    height: 70px;
    width: 100vw;
}
a{
    text-decoration: none;
}
nav{
    height: 70px;
    width: 100vw;
    background-color: #1e1e1e;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    display: flex;
}
.logo_name{
    margin: 5px;
    padding: 20px;
    font-weight: bold;
    color: #ffcc70;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
