*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.body{
    background-image: url("/media/rani_mehal1.png");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; /* Centers the image */
  
}

a{
    text-decoration: none;
}
nav{
   
    background-color: none;
    justify-content: space-between;
    display: flex;
}
.logo_name{
    display: flex;
    margin: 5px;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    
}
.logo_name a{
    color: #1A237E;
}
.logo_name img{
    width: 50px;
}
.content{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    gap: 60px;
}

.content a{
    font-weight: 900;
}
.search{
    display: flex;
    align-items: center;
    gap: 35px;
    padding-right: 20px;
}
.search a{
    font-weight: bolder;
}
.search_bar{
    color: black;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    opacity: 0.3;
    border: none
}
.submit{
    padding: 5px 15px;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    background-color: cornsilk;
}
.full_content{
    display: flex;
    align-items: center;
}
.left_content{
    height: 90vh;
    width: 50vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 7vw;
    border: 2px solid black;
}
.div1{
    /* padding: ; */
    height: 50vh;
    align-items: center;
    /* border: 2px solid black; */
}
 .explore p {
    font-size: 65px;
    font-weight: 900;
 }
 .explore_about{
    font-size: 28px;
    font-weight: 300;
 }

.explore_btn button{
    background-color: orange;
    padding: 10px 24px;
    margin: 40px;
    border-radius: 20px;
    border: none;
}
.explore_btn button:hover{
    background-color: rgb(233, 181, 86);
    transition-duration: 1s;
}
/* .div2{
    position: absolute;
    bottom: 32px;
}
.div2 button{
    color: black;
} */
 .footer{
    position: absolute;
    bottom: 0;
 }

.right_content{
    height: 90vh;
    width: 50vw;
    border: 2px solid black;
    
}
.dynamic{
    height: 50vh;
    width: 40vw;
    border: 2px solid black;
    margin: 35px;
}
.static{
    height: 25vh;
    width: 40vw;
       margin: 35px;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; /* prevents wrapping */
    scroll-behavior: smooth;
      scrollbar-width: none;
}
 

.next{
    height: 100vh;
    padding: 20px;
    border: 2px solid black;
    background-color: aqua;
    
    
}
.all_card{
    height: 100vh;
    width: 76vw;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.card{
    margin: 10px 0;
    display:  flex;
    height: 20vh;
    width: 70vw;
    padding: 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: cadetblue;
}

  .desc{
    overflow: hidden;
    width: 50vw;
  }
 
.image{
    
    width: 20vw;
    border: 2px solid ;

}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

