<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/botpage.css">
</head>

<body>
    <div class="full-box">
        <div class="left_box">
            <div class="box">
                <button class="mic">MIC</button>
                <div class="text_box">
                    <p class="textPrint"></p>
                </div>
            </div>
        </div>
        <div class="right_box">

            <div class="image">

            </div>


        </div>
    </div>
<script src="/static/bot.js"></script>
</body>

</html>