<nav class="allNav">
    <div class="navbar">
        <div class="logo1">
            <div class="logo2"><img src="/media/logo.png" alt=""></div>
            <div class="alfaz"><a href="/">Jhansi Arena</a></div>
        </div>
        <div class="userdata">
            <div class="content">
                <a href="{% url 'home' %}" class="homekabtn">Home</a>
                <a href="{% url 'uploads' %}" class="uploadskabtn">Upload</a>
                <a href="{% url 'home' %}#footer" class="contactkabtn">Contact</a>
                <a href="{% url 'about' %}" class="aboutkabtn">About</a>
            </div>
        </div>
        <div class="username">
            <div class="user">Saurabh</div>
            <div class="userlogo">
                <img src="" alt="">

            </div>
        </div>
</nav>