<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/uploads.css">
</head>

<body>
    <div class="body">
        <nav class="navbar">

        </nav>
        <div class="contents">
            <div class="images">

            </div>

        </div>
        <div class="message">
            <h1>Want to Upload Yours</h1>
            <a href="#">click Me</a>
        </div>
        <!-- <div class="form">
            <form action="">
                <label for="">Desitnation Name:</label>
                <input type="text"><br>
                <label for="">Images:</label>
                <input type="file" accept="image/*"><br>
                <label for="">feedback</label>
                <input type="text"><br>
                
            </form>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </div> -->
        <div class="uploads">
            <div class="card">
                <span class="title">Post Your Experience</span>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="group">
                        <!-- <label for="name">Desitnation Name</label> -->
                        <input placeholder="Destination Name" type="text" required="" name="destinationName">

                    </div>

                    <label for="file-input" class="drop-container">
                        <span class="drop-title">Drop files here</span>
                        or
                        <input type="file" accept="image/*" required="" id="file-input" name="destinationImg">
                    </label>
                    <div class="group">
                        <!-- <label for="comment" class="comment">Feedback</label> -->
                        <!-- <input type="text" placeholder="Feedback" name="destinationDesc" class="feedbackinput"> -->
                        <textarea placeholder="Feedback" id="comment" name="destinationDesc" rows="5" required=""
                            class="feedback"></textarea>
                    </div>
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>