{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/navbar.css" />
    <link rel="stylesheet" href="/static/uploads.css" />
    <link rel="stylesheet" href="/static/footer.css" />
    <link rel="stylesheet" href="/static/button.css" />
  </head>

  <body>
    <div class="body">
      {% include 'navbar.html' %}
      <div class="contents">
        <div class="images">
          {% for upload in userphotos %}
            {% if upload.destinationImg %}
              <img src="{{ upload.destinationImg.url }}" alt="" />
            {% else %}
              <p>No image uploaded</p>
            {% endif %}
            {% comment %} <img src="/media/user_data/img1.jpg" alt="" /> {% endcomment %}
          {% endfor %}
        </div>
      </div>
      <div class="messageBox">
        <div class="messageGiven">
          <h1>Want to Upload Yours</h1>
          <button><a href="#">Post</a></button>
        </div>
      </div>
      <div class="uploads">
        <div class="card">
          <span class="title">Post Your Experience</span>
          <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="group">
              <input placeholder="Destination Name" type="text" required name="destinationName" />
            </div>

            <label for="file-input" class="drop-container">
              <span class="drop-title">Drop files here</span>
              or<input type="file" accept="image/*" required id="file-input" name="destinationImg" />
            </label>

            <div class="group">
              <textarea placeholder="Feedback" id="comment" name="destinationDesc" rows="5" required class="feedback"></textarea>
            </div>

            <button type="submit">Post</button>
          </form>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
